body {

    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: sans-sherif;
    color: white;
    background-color: black;


}

.background {
    color: black;

}

.wrapper {
    display: flex;
}

.introleft {
    width: 30%;
}

.introright {
    width: 70%;
}

.graph {
    background-image: linear-gradient(to right, #DD1367, #920b43, #60082d, #300316, #2f121e);
    margin-left: 0px;
    margin-right: 100px;
    );
}

/* 
a {

    color: black;
} */



.my_dataviz {
    background-image: linear-gradient(to right, olive, cyan);
}